$corFundo: #182C61;
$corBody:#f5f6fa;
$corLetras: #fff;
$corBtn:#44bd32;
$corHover:#4cd137;

$largurMax:1024px;
$largurA:100%;
$margEM: 0 auto;

$nomesLadoAlado:flex;
$invisiVel:none;
$centro:center;

$mobile:767px;
$tablet:1023px;
